<h1>Welcome, <%=@user.username%></h1>

<% @tweets.each do |tweet| %>
  <h3><a href="/users/<%=tweet.user.slug%>"><%= tweet.user.username %></a> </h3>
  <p><%= tweet.content %></p>
  <a href="/tweets/<%=tweet.id%>">view tweet</a>
  <br></br>
  <% end %>
  <br></br>
  <a href="/tweets/new">New Tweet</a>
  <a href="/logout">Log Out</a> 
